* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #242424;
  color: #fbd997;
  text-align: center;
}

button {
  border-radius: 5rem;
  border-color: #fbd997;
  background-color: #fad997;
  margin-right: 10px;
}

strong {
  color: #fab833;
}
